<div class="row justify-content-md-center mb-3 flex-wrap">
  <div class="col-sm d-flex flex-wrap flex-column">

    <!-- Category buttons -->
    <button
      type="button"
      class="btn btn-outline-dark mt-2"
      *ngFor="let category of getCategories"
      (click)="getProducts(page, category)"
      [ngClass]="{ 'btn-dark text-white': selectedCategory === category }"
    >
      {{ category | titlecase }}
    </button>

    <!-- Number of results -->
    <div
      class="alert alert-primary mt-2"
      role="alert"
      *ngIf="selectedCategory !== 'all'"
    >
      {{ products.length }} produit(s) trouvé(s)
    </div>

    <!-- Pagination -->
    <div class="btn-group mt-2" role="group" aria-label="Pagination">
      <button type="button" class="btn btn-primary" (click)="previousPage()">
        <i class="bi bi-arrow-left"></i>
      </button>
      <button class="btn btn-primary" disabled>{{ page }}</button>
      <button type="button" class="btn btn-primary" (click)="nextPage()">
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>

  <!-- Results -->
  <div class="col-10">
    <div
      class="d-flex flex-wrap justify-content-center"
      *ngIf="products?.length"
    >
      <!-- Product card -->
      <app-product-card
        *ngFor="let product of products"
        [product]="product"
        class="m-2"
      ></app-product-card>
    </div>
    <div
      class="alert alert-warning mt-2"
      role="alert"
      *ngIf="!products?.length"
    >
      <!-- If no products found, show an error message -->
      Nous n'avons trouvé aucun produit, veuillez réessayer plus tard.
    </div>
  </div>
</div>
