<div class="row justify-content-md-center mb-3 flex-wrap">
  <div class="col-sm d-flex flex-wrap flex-column">
    <!-- Search input -->

    <!-- Category buttons -->
    <button
      type="button"
      class="btn btn-outline-dark mt-2"
      *ngFor="let category of getCategories"
      (click)="getProducts(page, category, search)"
      [ngClass]="{ 'btn-dark text-white': selectedCategory === category }"
    >
      {{ category | titlecase }}
    </button>

    <label for="searchProduct" class="form-label mt-1">Rechercher</label>
    <input
      type="text"
      class="form-control"
      id="searchProduct"
      name="searchProduct"
      [(ngModel)]="search.query"
      (input)="onSearch()"
    />

    <label for="priceProduct" class="form-label mt-1">Prix</label>
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="priceProductGte"
          name="priceProductGte"
          [(ngModel)]="search.priceGte"
          (input)="onSearch()"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="priceProductLte"
          name="priceProductLte"
          [(ngModel)]="search.priceLte"
          (input)="onSearch()"
        />
      </div>
    </div>

    <!-- Number of results -->
    <div
      class="alert alert-primary mt-2"
      role="alert"
      *ngIf="selectedCategory !== 'tous'"
    >
      {{ products.length }} produit(s) trouvé(s)
    </div>
  </div>

  <!-- Results -->
  <div class="col-10">
    <div
      class="d-flex flex-wrap justify-content-center"
      *ngIf="products?.length"
    >
      <!-- Product card -->
      <app-product-card
        *ngFor="let product of products"
        [product]="product"
        class="m-2"
      ></app-product-card>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation example">
      <ul class="pagination p-3 d-flex justify-content-center">
        <li class="page-item" [ngClass]="{ disabled: page === 1 }">
          <a
            class="page-link"
            aria-label="Previous"
            (click)="previousPage()"
            type="button"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li
          *ngFor="let number of [1, 2, 3, 4, 5]"
          class="page-item"
          [ngClass]="{ active: number === page }"
        >
          <a
            class="page-link"
            (click)="getProducts(number, selectedCategory, search)"
            type="button"
            >{{ number }}</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            aria-label="Next"
            (click)="nextPage()"
            type="button"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- No products found, alert -->
    <div
      class="alert alert-warning mt-2"
      role="alert"
      *ngIf="!products?.length"
    >
      <!-- If no products found, show an error message -->
      Nous n'avons trouvé aucun produit, veuillez réessayer plus tard.
    </div>
  </div>
</div>
