<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ getShopName() }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']">Produits</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isAdmin()">
          <a
            class="nav-link dropdown-toggle text-primary"
            href="#"
            id="adminNavbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Administration
          </a>
          <ul class="dropdown-menu" aria-labelledby="adminNavbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/admin/product/list']"
                >Produits</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/admin/user/list']"
                >Utilisateurs</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">
            <i class="bi bi-info-circle"></i
          ></a>
        </li>
      </ul>
      <div *ngIf="user?.name">
        <span class="p-2">Bonjour, {{ user?.name }}</span>
        <button
          class="btn btn-outline-danger me-2"
          [routerLink]="['/auth/logout']"
        >
          <i class="bi bi-box-arrow-right mr-2"></i>
          Déconnexion
        </button>
      </div>
      <button
        class="btn btn-outline-success me-2"
        [routerLink]="['/auth/login']"
        *ngIf="!getUser()"
      >
        <i class="bi bi-person mr-2"></i>
        Se connecter
      </button>
    </div>
  </div>
</nav>
