<div class="card m-2 d-flex align-items-end flex-column">
  <img
    src="{{ product.images[0] }}"
    class="card-img-top p-2"
    alt="{{ product.name }}"
  />
  <div class="card-body mt-auto">
    <h5 class="card-title">
      {{ product.name }}
      <span class="badge rounded-pill bg-secondary">{{
        product.category | titlecase
      }}</span>
    </h5>
    <p class="card-text">{{ product.description }}</p>
  </div>
  <div class="d-flex align-items-baseline">
    <p class="text-muted me-auto">{{ product.stock }} restant</p>
    <p class="p-2 h5">
      {{ product.price | currency: 'EUR' }}
    </p>
    <a
      [routerLink]="['/products/', product.id]"
      class="btn btn-primary buy-btn m-2"
      [ngClass]="{ 'btn-danger': !product.stock }"
      >{{ product.stock ? 'Détails' : 'Rupture' }}</a
    >
  </div>
</div>
