<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a [routerLink]="['/products']">Produits</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ product?.name }}
    </li>
  </ol>
</nav>

<div class="alert alert-warning" role="alert" *ngIf="!product">
  Ce produit n'est plus disponible,
  <a [routerLink]="['/']">Retourner à l'accueil</a>.
</div>

<div class="card" *ngIf="product?.name">
  <div class="row no-gutters">
    <div class="col-auto">
      <img
        src="{{ product.images[0] }}"
        class="img-fluid p-3"
        alt="{{ product.name }}"
      />
    </div>
    <div class="col">
      <div class="card-block px-2 mt-3">
        <h4 class="card-title">
          {{ product.name }}
          <span
            class="dot-product bg-success"
            [ngClass]="{ 'bg-danger': !product.available }"
          ></span>
        </h4>
        <p class="text-muted">Catégorie {{ product.category | titlecase }}</p>
        <p class="card-text">{{ product.description }}</p>
        <button
          type="button"
          (click)="toggleProduct()"
          class="btn btn-success p-2 btn-sm mb-1"
          [ngClass]="{ 'btn-danger': product.available }"
        >
          {{ product.available ? 'Désactiver' : 'Activer' }} ce produit
        </button>
        <div class="card-text d-flex justify-content-start pb-3">
          <span class="badge bg-primary p-2">{{
            product.price | currency: 'EUR'
          }}</span>
          <div style="width: 5px"></div>
          <span class="badge bg-secondary p-2"
            >{{ product.stock }} en stock</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
